<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Museo del Violino</title>
    <link href="stylePOI.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
	<div class="flexcontainer">
    <div>
      <h1><span id="nome_poi"></span></h1>
    </div>
		<div class="infopoi">
      <span id="foto_mappa"></span>
			<ul>
				<span id="info_poi"></span>
      	
      	
      
			</ul>
    </div>
		<div class="descrizione_poi">
			<div class="div_multimedia">
			<span id="foto_museo_fuori"></span>
			<span id="descrizione_poi"></span>
			</div>
			<div class="div_multimedia">
			<span id="foto_museo_dentro"></span>
			<span id="video_yt"></span>
			</div>
		</div>
		</div>
		<a href = "/" tite = "Home">Home
		<script src="jquery-3.6.0.min.js"></script>
    <script src="script_poi.js"></script>
  </body>
</html>